*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
#logo{
  width:70px;
  height:70px;
  margin-left:50px;
}

#image{
    width:100px;
    padding-left:20px;
}


.nav-value{
  margin:230px 20px;
  text-orientation: mixed;
  
}
header{
  margin:10px 0;
}


