*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body{
  color:black;
}
#logo{
  width:70px;
  height:70px;
  margin-left:50px;
}
.fontsize{
  font-size:10px;
}
button a{
  text-decoration: none;
  color:white;
}

.about-me{
  width:50%;
  float:right;
  margin-top:50px;
  padding-right:50px;
}
.about-pic{
  width:50%; 
}
nav a:hover{
  background-color:#f0f0f0;
}

.about-me h3{
  font-size: 30px;
}
.about-info{
  display:flex;
}
.about-me p{
  margin-top:10px;
  
}
.details{
  height:400px;
  background-color:cornflowerblue;
  margin-top:100px;
}


.about-pic{
    width:50%;
    float:left;
    margin-top:50px;
    display:flex;
    justify-content:center;


}
#personal{
    width:40%;
    border:none;
    box-shadow: 10px 10px 5px 1px lightgrey;
    height:350px;
}

.profiles{
  display:flex;
}

button{
    margin:30px 0;
    width:20%;
    height:5vh;
    margin-right:10px;
    border:1px solid black;
}
#github>a{
  color:white;
  text-decoration:none;
}
#linkedin>a{
  color:black;
  text-decoration:none;
}
#cv>a{
  color:white;
  text-decoration:none;
}
#github{
  background-color:black;
}
#linkedin{
  background-color:white;
}
#cv{
  background-color:black;
}
