.About-container{    
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #222426;
    height:505px;
    color:white;
    padding-top:30px;
    
    
}
.web, .mobile, .cloud{
    display:flex;
    margin-left:120px;
    margin-top:30px;
    border-left:2px solid rgb(13, 114, 148);
    padding-left:20px;
    font-family:monospace;
    
}

h3{
    margin-left:20px;
}
h2{
    font-family: monospace;
    font-size:30px;
}
.About p{
    margin-top:10px;
    font-family:roboto;
}
.About button {
    width:150px;
    height:40px;
    border:none;
    margin-top:20px;
    border:1px solid white;
    background-color:rgb(13, 114, 148);
    color:white;
    cursor:pointer;
  


}



.About button a{
    text-decoration:none;
    color:white;
    
}

