.About-container{    
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #222426;
    height:505px;
    color:white;
    padding-top:20px;
    text-align:center;
}
.web, .mobile{
    display:flex;
    margin-left:20px;
    margin-top:30px;
    border-left:2px solid rgb(13, 114, 148);
    padding-left:20px;
    
}
h3{
    margin-left:20px;
}