*{
    margin:0;
}
body{
    height:400px;
}
.Home{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #222426;
    height:400px;
    
}
.Home div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    color:white;
}
.Home p{
}
.Home h1{
    font-size:50px;
    margin:0 70px;
    font-family:monospace;
    
    
    
}
button{
    margin:15px 70px;
    width:130px;
    height:40px;
    color:white;
    background-color:rgb(13, 114, 148);
    border:none;
}
.text-content{
    
    width:50%;
    margin-top:130px;
    
}
.Home img{
    width:480px;
    
    height:525px;
    margin-left:50px;
    
    
}
.image{
    padding:0;
    margin:0;
    height:490px;
    width:50%;
    
}
