*{
    margin:0;
    padding:0;
    overflow:hidden;
}

@media (max-width:600px){
    .Home{
        
        background-color: #222426;
        height:805px;
        
    }
    .Home div{
      
        text-align:center;
        color:white;
        height:670px;
        margin-top:20px;
    }
    .Home p{
        font-size:10px;
    }
    .Home h1{
        font-size:10px;
        margin:0 70px;
        font-family:monospace;
    }
    
    .text-content{
        
        width:50%;
        margin-top:130px;
        
    }
    .designer,.coder{
        display:none;
    }
    .Home img{
        width:330px;
        height:705px;
        padding:0;
        left:40.7px;
        position:absolute;
   
        
       
 
        
    }
    .image{
        padding:0;
        justify-self:center;
        
        width:80%;
        display:block;
        padding-bottom:0;
        border:2px solid white;
        background-color:rgb(13, 114, 148);
        
    }

}
/*@media (min-width:600px) and (max-width:768px){
     .Home{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        background-color: #222426;
        height:105px;
        
    }
    .Home div{
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
        color:white;
        height:700px;
        margin-top:20px;
    }
    .Home p{
        font-size:10px;
    }
    .Home h1{
        font-size:20px;
        margin:0 70px;
        font-family:monospace;
    }
    
    button{
        margin:15px 70px;
        width:130px;
        height:40px;
        color:white;
        background-color:rgb(13, 114, 148);
        border:none;
        cursor:pointer;
        border:1px solid white;
    }
    .text-content{
        
        width:50%;
        margin-top:130px;
        
    }
    .Home img{
        width:400px;
        height:970px;
        margin-left:50px;
        padding:0;
        left:209.7px;
        position:absolute;
        bottom:0px;
        top:110px;
        
    }
    .image{
        padding:0;
        margin:0 0;
        height:540px;
        width:85%;
        padding-bottom:0;
        border:2px solid white;
        background-color:rgb(13, 114, 148);
        
    }
}*/
@media (min-width:768px) and (max-width:920px){
    .Home{
        
        background-color: #222426;
        height:1205px;
        
    }
    .Home div{
        
        justify-content:center;
        text-align:center;
        color:white;
        height:1065px;
    }
    .designer,.coder{
        display:none;
    }
    .Home h1{
        font-size:20px;
        margin:0 70px;
        font-family:monospace;
        
        
        
    }
   
    .text-content{
        
        width:50%;
        margin-top:130px;
        
    }
    .Home img{
        width:610px;
        height:1125px;
        margin-left:50px;
        padding:0;
        left:55.3px;
        position:absolute;
        bottom:0px;
        top:110px;
        
    }
    .image{
        padding:0;
        margin:0 0;
        height:540px;
        display:block;
        justify-self:center;
        width:75%;
        padding-bottom:0;
        border:2px solid white;
        background-color:rgb(13, 114, 148);
        
    }
}

@media (min-width:992px) and (max-width:1200px){
    .Home{
        
        background-color: #222426;
        height:1255px;
        
    }
    .Home div{
        
        
        text-align:center;
        color:white;
        height:1170px;
        margin-top:20px;
    }
    
     .designer,.coder{
        display:none;
    }
    .Home h1{
        font-size:20px;
        margin:0 70px;
        font-family:monospace;
    }
    
    .text-content{
        
        width:50%;
        margin-top:130px;
        
    }
    .Home img{
        width:760px;
        height:1260px;
        margin-left:50px;
        padding:0;
        left:81.7px;
        position:absolute;
        bottom:0px;
        top:110px;
        
    }
    .image{
        padding:0;
        margin:0 0;
        height:540px;
        display:block;
        justify-self:center;
        width:75%;
        padding-bottom:0;
        border:2px solid white;
        background-color:rgb(13, 114, 148);
        
    }
}


@media (min-width:1200px) and (max-width:1400px){
        .Home{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        background-color: #222426;
        height:905px;
        
    }
    .Home div{
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
        color:white;
        height:400px;
    }
    .Home p{
    }
    .Home h1{
        font-size:50px;
        margin:0 70px;
        font-family:monospace;
        animation:typing 2s steps(20,end) forwards;
        white-space:nowrap;
        overflow:hidden;
        width:0;
    }
    @keyframes typing{
        to{
            width:70%;
        }
    }
    
    .text-content{
        
        width:50%;
        margin-top:130px;
        
    }
    .Home img{
        width:380px;
        height:422px;
        
        padding:0;
        left:430.7px;
        position:absolute;
        bottom:0px;
        top:110px;
        opacity:0;
        animation:fadeIn 2s ease-in forwards;
        
    }
    @keyframes fadeIn{
        to{
            opacity:1;
        }
    }
    
    .image{
        padding:0;
        margin:0 0;
        height:540px;
        width:90%;
        padding-bottom:0;
        border:2px solid white;
        background-color:rgb(13, 114, 148);
        
    }
}
@media (min-width:1400px){
        .Home{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        background-color: #222426;
        height:905px;
        
    }
    .Home div{
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
        color:white;
        height:700px;
    }
   
    .Home h1{
        font-size:50px;
        margin:0 70px;
        font-family:monospace;
        animation:typing 2s steps(20,end) forwards;
        width:0%;
        white-space:nowrap;
    }

    @keyframes typing{
        to{
            width:2px;
        }
    }
  
    .text-content{
        
        width:50%;
        margin-top:130px;
        
    }
    .Home img{
        width:537px;
        height:738px;
        
        padding:0;
        left:602.7px;
        position:absolute;
        bottom:0px;
        top:110px;
        opacity:0;
        animation:fadeIn 2s ease-in forwards;
        
    }
    @keyframes fadeIn{
        to{
            opacity:1;
        }
    }
    .image{
        padding:0;
        margin:0 0;
        height:540px;
        width:90%;
        padding-bottom:0;
        border:2px solid white;
        background-color:rgb(13, 114, 148);
        
    }
}


