.nav-container{
    display:flex;
    padding:20px;
    justify-content:space-between;
    background-color: #222426;
}
.logo{
    margin:0;
    color:white;
    font-size:30px;
}
a{
    margin:25px;
    text-decoration: none;
    color:white;
}
.dot{
    color:rgb(13, 114, 148);
}